:root {
    --main-color: rgb(63, 67, 113);
    --main-width: 1000px
}

body {
    background-color: rgb(255, 215, 208);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.main-header {
    display: inline-block;
    width: 800px;
    margin-top: 40px;
    margin-left: calc((100% - 800px) / 2);
    
}
.logo {
    height: 40px; 
    float: left;
}
.main-nav {
    margin-top: 4px;
    float: right;
}
.main-nav > a {
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--main-color);
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    margin-left: 20px;
    font-family: monospace;
    border: 2px solid transparent;
    border-radius: 4px;
}
.main-nav > a > :first-child {
    margin-left: 0;
}
.main-nav > a:hover {
    border: 2px solid var(--main-color);;
    
}
main {
    display: inline-block;
    width: 800px;
    margin-top: 40px;
    margin-left: calc((100% - 800px) / 2);
    
}
.left-column {
    width: 35%;
    float: left;
}
.main-title {
    color: var(--main-color);;
    font-size: 55px;
    margin: 0;
}
.main-title > span {
    font-size: 48px;
}
.description {
    color: var(--main-color);;
    font-size: 18px;
    line-height: 1.5em;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.more-button {
    display: inline-block;
    color: white;
    padding: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(63, 67, 113);
    border-radius: 0.5em; 
    text-transform: uppercase;
    box-shadow: 0 8px 30px -10px gray;
}
.social-links {
    margin-top: 20px;
}
.social-links > .icon {
    background-color: var(--main-color);;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    float: left;
    margin-right: 10px;
    transition:  all 0.5s;
}
.social-links > .icon:hover {
    box-shadow: 0 2px 6px grey;
}
.right-column {
    margin-top: 30px;
    width: 60%;
    float:right;
}
